<?xml version="1.0"?>

<model>
  <name>Single Edge</name>
  <version>1.0</version>
  <sdf version='1.6'>single_edge.sdf</sdf>

  <author>
    <name>Eldad Assa</name>
    <email>eldadassa@gmail.com</email>
  </author>

  <description>
    A plane with a single visual edge for syclop tests
  </description>
</model>
